{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}

<!-- Main content -->
<section class="content content_principal">
  <div class="container-fluid">

      <div class="row">
          {% include 'empleado/base/resumen_perfil.html' %}
          <div class="col-md-9">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Foja de Servicios</h3>
              </div><!-- /.card-header -->
              <div class="card-body">
                    <!-- The timeline -->
                    <ul class="timeline timeline-inverse">
                      {% for cargo_empleado in cargos %}
                      <!-- timeline time label -->
                      <li class="time-label">
                        <span class="{% if cargo_empleado.actual %}bg-success {% else %}bg-danger{% endif %}">
                          {{cargo_empleado.fecha_ingreso_cargo|default_if_none:""}}
                        </span>
                      </li>
                      <!-- /.timeline-label -->
                      <!-- timeline item -->
                      <li>
                        <i class="fa fa-address-card-o bg-primary"></i>

                        <div class="timeline-item">

                          <h2 class="timeline-header text-bold texto_grande">{{cargo_empleado.cargo|default_if_none:""}}  {% if cargo_empleado.actual %}(Actual){% endif %}</h2>

                          <div class="timeline-body">
                            <div class="row">
                            <div class="col-md-6">
                              <p><strong>Nivel: </strong><span>{{cargo_empleado.nivel|default_if_none:""}}</span></p>
                            </div>
                            <div class="col-md-6">
                              <p><strong>Agrupamiento: </strong><span>{{cargo_empleado.agrupamiento|default_if_none:""}}</span></p>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-6">
                              <p><strong>Situación laboral: </strong><span>{{cargo_empleado.get_situacion_display|default_if_none:""}}</span></p>
                            </div>
                            <div class="col-md-6">
                              <p><strong>Jurisdicción: </strong><span>{{cargo_empleado.get_jurisdiccion_display|default_if_none:""}}</span></p>
                            </div>
                          </div>
                          {% if cargo_empleado.fecha_vencimiento_cargo %}
                          <div class="row"> 
                            <div class="col-md-6">
                              <p><strong><i class="fa fa-calendar"></i> Fecha de vencimiento del cargo: </strong><span>{{cargo_empleado.fecha_vencimiento_cargo|date:"d/m/Y"|default_if_none:""}}</span></p>
                            </div>
                          </div>
                          {% endif %}

                          <div class="row">
                            <div class="col-md-4">
                              <p><strong>Tipo Intr. legal: </strong><span>{{cargo_empleado.tipo_instrumento_legal|default_if_none:""}}</span></p>
                            </div>
                            <div class="col-md-4">
                              <p><strong>Instrumento legal: </strong><span>{{cargo_empleado.instrumento_legal|default_if_none:""}}</span></p>
                            </div>
                            <div class="col-md-4">
                              <p><strong>Fecha Inst. legal: </strong><span>{{cargo_empleado.fecha_instr_legal|date:"d/m/Y"|default_if_none:""}}</span></p>
                            </div>
                          </div>
                          </div>
                        </div>
                      </li>
                      <!-- END timeline item -->
                      {% endfor %}
                    </ul>
              </div><!-- /.card-body -->
              <div class="card-footer">
                <a href="{% url 'exportar' %}?key_cache={{key_cache}}" class="btn btn-success float-right separa_boton">
                 <i class="fa fa-file-excel-o"></i> Exportar a Excel
                </a>
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary"><i class="fa fa-arrow-circle-left"></i> Volver</a>
              </div>


            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->



  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock %} 

