# ide and tools extra
*.idea/
*.orig
*.sublime-project
*.sublime-workspace
*.project
*.ipynb*
.vscode/

# db
db.sqlite3

logs/

# archivos temporales y migraciones
*.pyc
*.pyo
*.bak
*.bak2
*.log
*.db
*.pid
*.rdb
*/__pycache__/

legajos_project/apps/*/migrations/__init__.py
legajos_project/apps/*/migrations/__pycache__
legajos_project/apps/*/migrations/0*
*/migrations/0*
*/migrations/__pycache__/
*/__pycache__/


# archivos de configuracion
/legajos_project/config/settings/dev.py

# static y temporales
legajos_project/media/*
legajos_project/static/*

# extensiones
legajos_project/*.pdf
legajos_project/*.json

# db
legajos_project/db.sqlite3
deploy/backup
deploy/despliegue.txt
