{% load staticfiles %}
<!-- START HEADER -->
    <header id="header" class="page-topbar">
      <!-- start header nav-->
      <div class="navbar-fixed">
        <nav class="cyan">
          <div class="nav-wrapper">
            <h1 class="logo-wrapper"><a href="{% url 'persona_list' %}" class="brand-logo darken-1"><img src="{% static 'images/logo_legajodigital.png' %}" alt="materialize logo"></a> <span class="logo-text">Sistema de legajo</span></h1>
            <ul class="right hide-on-med-and-down">

              <li><a href="{% url 'index' %}"><i class="mdi-hardware-keyboard-tab left"></i>Salir</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- end header nav-->
    </header>
<!-- END HEADER -->