{% load staticfiles %}
<div class="col-md-3">

    <!-- Profile Image -->
    <div class="card card-primary card-outline">
        {% if empleado.borrado %}

        <div class="card-header">
            <div class="row">

                <div class="col-12">
                    <!-- small box -->
                    <div class="small-box bg-danger">

                        <p class="texto_detalle" >Empleado Eliminado</p>


                    </div>
                </div>

            </div>
        </div>
        {% endif %}
        <div class="card-body box-profile">
            <div class="text-center">
                <a href="{% url 'empleado_detail' empleado.id %}">
                <img class="profile-user-img img-fluid img-circle"
                     src="{% static 'dist/img/user1-128x128.jpg' %}"
                     alt="User profile picture">
                </a>
            </div>

            <a href="{% url 'empleado_detail' empleado.id %}" style="color: #000000;">
                <h3 class="profile-username text-center">{{empleado.apellido|default_if_none:""}} {{empleado.nombre|default_if_none:""}}</h3>
            </a>
            <p class="text-muted text-center">{{ cargo|default_if_none:"" }}</p>

            <hr>

            <strong><i class="fa fa-institution"></i> Dependencia</strong>

            <p class="text-muted">{{dependencia|default_if_none:""}}</p>

            <hr>

            <strong><i class="fa fa-folder"></i> N° Legajo</strong>

            <p class="text-muted">
            <h1>
                {{empleado.legajo|default_if_none:""}}
            </h1>
            </p>

            <hr>

            <strong><i class="fa fa-map-marker mr-1"></i> Domicilio</strong>

            <p class="text-muted">{{empleado.domicilio|default_if_none:""}}, {{empleado.localidad|default_if_none:""}}, {{empleado.get_departamento_display|default_if_none:""}}, {{empleado.get_provincia_display|default_if_none:""}}</p>

            <hr>

            <strong><i class="fa fa-phone"></i> Teléfono/s</strong>

            <p class="text-muted">{{empleado.tel_fijo|default_if_none:""}}
                {% if empleado.tel_fijo and empleado.tel_cel %}-{% endif %}
                {{empleado.tel_cel|default_if_none:""}}</p>

            <hr>

            <strong><i class="fa fa-envelope"></i> Email</strong>

            <p class="text-muted">{{empleado.email|default_if_none:""}}</p>

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>