{% load staticfiles %}

  <div class="row">
        <div class="col-md-9">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Ingrese Apellido / Nombre / Legajo / CUIL para buscar empleado" />
                    <span class="input-group-btn">
                        <label class="">
                            <i class="fa fa-search"></i>
                        </label>
                    </span>
                </div>
            </div>
        </div>
  </div>
