{% load staticfiles %}
<!-- START FOOTER -->
    <!-- <footer class="page-footer">

        <div class="footer-copyright">

            <div class="container">
                <a href="index.html" class="brand-logo darken-1"><img src="{% static 'images/logo.png' %}" alt="logo PJ">
                </a>
                <a class="grey-text text-lighten-4" href="http://themeforest.net/user/geekslabs/portfolio?ref=geekslabs" target="_blank"></a>
                <span class="right">Desarrollado por Informática de Secretaría de Personal 2018</span>
            </div>
        </div>
    </footer> -->

    <footer class="main-footer">
    <img src="{% static 'images/logo.png' %}" alt="logo PJ">
    <strong>  Desarrollado por Informática - Secretaría de Personal</strong>
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0
    </div>
  </footer>
<!-- END FOOTER -->