{% extends 'base/base.html' %}
{% load staticfiles %}

{% block extrastatic %}
	<!--<link href="{% static 'css/login.css' %}" type="text/css" rel="stylesheet">-->
{% endblock %}

{% block body %}
<body class="hold-transition login-page">
	<div class="login-box">

  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Iniciar tu sesión con cuenta de Administrador</p>

      <form action="#" method="post">
		  {% csrf_token %}
                            {% if form.errors %}
                            <div class="row">
                                    <label class="text-danger">{{ form.non_field_errors }}</label>
                            </div>
                            {% endif %}
        <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                  </div>
                  {{form.email}}
                </div>
		  <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                  </div>
                  {{form.password}}
                </div>
        <div class="row">

          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
          </div>
        </div>
      </form>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->
	</body>
{% endblock %} 
