{% load staticfiles %}
<!-- START SIDEBAR NAV-->
<aside class="main-sidebar sidebar-light-primary elevation-4">
  <!-- Brand Logo -->
  <a href="{% url 'home' %}" class="brand-link">
    <img src="{% static 'images/LogoLegajoDigital.png' %}" alt="AdminLTE Logo" class="brand-image"
    style="opacity: .8">
    <span class="brand-text font-weight-light">Legajo Digital</span>
  </a>


  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

      <li class="nav-item">
        <a href="{% url 'home' %}" class="nav-link {% if Home %}activo{% endif %}">
          <i class="nav-icon fa fa-home"></i>
          <p> Inicio </p>
        </a>
      </li>
      <li class="nav-item has-treeview {% if EmpleadoList or EmpleadoDetail or EmpleadoCreate or EmpleadoUpdate or EmpleadoDown or EmpleadoListDowns or EmpleadoRestore or CargoCreate or CargoUpdate or FojaServicios %}menu-open{% endif %}">
        <a href="#" class="nav-link">
          <i class="nav-icon fa fa-users"></i>
          <p>
            Empleados
            <i class="right fa fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{% url 'empleado_create' %}" class="nav-link {% if EmpleadoCreate %}activo{% endif %}" >
              <i class="fa fa-user-plus"></i>
              <p>Agregar Empleado</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'empleado_list' %}" class="nav-link {% if EmpleadoList %}activo{% endif %}">
              <i class="fa fa-list"></i>
              <p>Listado de Empleados</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'empleado_list_downs' %}" class="nav-link {% if EmpleadoListDowns %}activo{% endif %}">
              <i class="fa fa-minus-square-o"></i>
              <p>Empleados de Baja</p>
            </a>
          </li>
        </ul>
      </li>

    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
<!-- END SIDEBAR NAV-->