{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}

<!-- Main content -->
<section class="content content_principal">
  <div class="container-fluid">

      <div class="row">
          <div class="col-md-3">
            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="{% static 'images/perfil.png' %}"
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{empleado.apellido|default_if_none:""}} {{empleado.nombre|default_if_none:""}}</h3>

                <p class="text-muted text-center">{{ cargo|default_if_none:"" }}</p>

                <strong><i class="fa fa-folder"></i> N° Legajo</strong>

                <p class="text-muted">
                  <h1>
                  {{empleado.legajo|default_if_none:""}}
                  </h1>
                </p>

                <hr>

                <strong><i class="fa fa-map-marker mr-1"></i> Domicilio</strong>

                <p class="text-muted">{{empleado.domicilio|default_if_none:""}}, {{empleado.localidad|default_if_none:""}}, {{empleado.get_departamento_display|default_if_none:""}}, {{empleado.get_provincia_display|default_if_none:""}}</p>

                <hr>

                <strong><i class="fa fa-phone"></i> Teléfono/s</strong>

                <p class="text-muted">{{empleado.tel_fijo|default_if_none:""}} 
                {% if empleado.tel_fijo and empleado.tel_cel %}-{% endif %} 
                {{empleado.tel_cel|default_if_none:""}}</p>

                <hr>

                <strong><i class="fa fa-envelope"></i> Email</strong>

                <p class="text-muted">{{empleado.email|default_if_none:""}}</p>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <form method="post">
              {% csrf_token %}
              <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title">Datos del Cargo</h3>
                </div>
                <!-- /.card-header -->

                <div class="card-body">

                  {% if cargo %}
                      
                      <div class="card card-primary">
                        <p class="text-center texto_grande">Cargo anterior</p>
                        
                        <!-- /.card-header -->
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-12">
                              <p><strong><i class="fa fa-briefcase"></i> Cargo: </strong><span class="texto_grande">{{cargo|default_if_none:""}}</span></p>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-6">
                              <p><strong>Nivel: </strong><span class="texto_detalle">{{cargo.nivel|default_if_none:""}}</span></p>
                            </div>
                            <div class="col-md-6">
                              <p><strong>Agrupamiento: </strong><span class="texto_detalle">{{cargo.agrupamiento|default_if_none:""}}</span></p>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-6">
                              <p><strong>Situación laboral: </strong><span class="texto_detalle">{{cargo.get_situacion_display|default_if_none:""}}</span></p>
                            </div>
                            <div class="col-md-6">
                              <p><strong>Jurisdicción: </strong><span class="texto_detalle">{{cargo.get_jurisdiccion_display|default_if_none:""}}</span></p>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-6">
                              <p><strong><i class="fa fa-calendar"></i> Fecha de ingreso al cargo: </strong><span class="texto_detalle">{{cargo.fecha_ingreso_cargo|date:"d/m/Y"|default_if_none:""}}</span></p>
                            </div>
                            {% if cargo.fecha_vencimiento_cargo %}
                            <div class="col-md-6">
                              <p><strong><i class="fa fa-calendar"></i> Fecha de vencimiento del cargo: </strong><span class="texto_detalle">{{cargo.fecha_vencimiento_cargo|date:"d/m/Y"|default_if_none:""}}</span></p>
                            </div>
                            {% endif %}
                          </div>

                          <div class="row">
                            <div class="col-md-4">
                              <p><strong>Tipo Intr. legal: </strong><span>{{cargo.tipo_instrumento_legal|default_if_none:""}}</span></p>
                            </div>
                            <div class="col-md-4">
                              <p><strong>Instrumento legal: </strong><span>{{cargo.instrumento_legal|default_if_none:""}}</span></p>
                            </div>
                            <div class="col-md-4">
                              <p><strong><i class="fa fa-calendar"></i> Fecha Instr. legal: </strong><span>{{cargo.fecha_instr_legal|date:"d/m/Y"|default_if_none:""}}</span></p>
                            </div>
                          </div>

                          <hr>

                          <!-- <div class="row">
                            <div class="col-md-6">
                              <label for="exampleInputEmail1">Fecha de fin del cargo anterior</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </div>
                                <input type="text" name="fecha_fin_cargo_anterior" class="form-control" placeholder="dd/mm/yyyy" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" id="fecha_fin_cargo_anterior">
                              </div>
                            </div>
                          </div>  -->
                          <div class="row">
                            <div class="col-md-6">
                              <label for="exampleInputEmail1">Fecha de fin del cargo anterior 2</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </div>
                                {{form.fecha_fin_cargo_anterior}}
                              </div>
                            </div>
                          </div>
                          {% if form.fecha_fin_cargo_anterior.errors%}
                          <div class="row">
                            <div class="col-md-6">
                              <label class="text-danger">{{ form.fecha_fin_cargo_anterior.errors }}</label>
                            </div>
                          </div>
                          {% endif %}
                   
                        </div>
                        <!-- /.card-body -->
                      </div>
                  {% endif %} 

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Cargo *</label>
                        {{form.cargo}}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Nivel *</label>
                        {{form.nivel}}
                      </div>
                    </div>
                  </div>
                  {% if form.cargo.errors or form.nivel.errors %}
                  <div class="row">
                    <div class="col-md-6">
                      <label class="text-danger">{{ form.cargo.errors }}</label>
                    </div>
                    <div class="col-md-6">
                      <label class="text-danger">{{ form.nivel.errors }}</label>
                    </div>
                  </div>
                  {% endif %}

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Agrupamiento *</label>
                        {{form.agrupamiento}}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Jurisdicción *</label>
                        {{form.jurisdiccion}}
                      </div>
                    </div>
                  </div>
                  {% if form.agrupamiento.errors or form.jurisdiccion.errors %}
                  <div class="row">
                    <div class="col-md-6">
                      <label class="text-danger">{{ form.agrupamiento.errors }}</label>
                    </div>
                    <div class="col-md-6">
                      <label class="text-danger">{{ form.jurisdiccion.errors }}</label>
                    </div>
                  </div>
                  {% endif %}

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Situación laboral *</label>
                        {{form.situacion}}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="exampleInputEmail1">Fecha de ingreso al cargo</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                        {{form.fecha_ingreso_cargo}}
                      </div>
                    </div>
                  </div>
                  {% if form.situacion.errors or form.fecha_ingreso_cargo.errors %}
                  <div class="row">
                    <div class="col-md-6">
                      <label class="text-danger">{{ form.situacion.errors }}</label>
                    </div>
                    <div class="col-md-6">
                      <label class="text-danger">{{ form.fecha_ingreso_cargo.errors }}</label>
                    </div>
                  </div>
                  {% endif %}

                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Tipo Inst. Legal *</label>
                        {{form.tipo_instrumento_legal}}
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Instrumento Legal *</label>
                        {{form.instrumento_legal}}
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label for="exampleInputEmail1">Fecha de Inst. Legal</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                        {{form.fecha_instr_legal}}
                      </div>
                    </div>
                  </div>
                  {% if form.tipo_instrumento_legal.errors or form.instrumento_legal.errors or form.fecha_instr_legal.errors %}
                  <div class="row">
                    <div class="col-md-4">
                      <label class="text-danger">{{ form.tipo_instrumento_legal.errors }}</label>
                    </div>
                    <div class="col-md-4">
                      <label class="text-danger">{{ form.instrumento_legal.errors }}</label>
                    </div>
                    <div class="col-md-4">
                      <label class="text-danger">{{ form.fecha_instr_legal.errors }}</label>
                    </div>
                  </div>
                  {% endif %}

                  

                  <!-- /.card-body -->
                </div>
              </div>
              <!-- /.card -->

              <div class="row separada">
                <div class="margin">
                  <div class="btn-group">
                    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary btn-lg float-right"><i class="fa fa-arrow-circle-left"></i> Volver</a>
                  </div>
                  <div class="btn-group">
                    <button class="btn btn-success btn-lg" type="submit" name="action">Guardar <i class="fa fa-save left"></i>
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->



  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock %} 
{% block staticfiles_javascript %} 
      <!-- InputMask -->
      <script src="{% static 'plugins/input-mask/jquery.inputmask.js' %}"></script>
      <script src="{% static 'plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
      <script src="{% static 'plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>
      <script>
        $(function () {
          
          // Máscaras
          //Datemask dd/mm/yyyy
          $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' });
          $('[data-mask]').inputmask()


          
        })
      </script>
    {% endblock %}

