{% extends 'base/base.html' %}
{% load staticfiles %}
{% block extrastatic %}
<link rel="stylesheet" href="{% static 'css/barra_busqueda.css' %}">

{% endblock %}
{% block content %}

<!-- Main content -->
<section class="content content_principal">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-3">
        <!-- Profile Image -->
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <img class="profile-user-img img-fluid img-circle"
                   src="{% static 'images/perfil.png' %}"
                   alt="User profile picture">
            </div>

            <h3 class="profile-username text-center">{{empleado.apellido|default_if_none:""}} {{empleado.nombre|default_if_none:""}}</h3>

            <p class="text-muted text-center">{{ cargo|default_if_none:"" }}</p>

            <strong><i class="fa fa-folder"></i> N° Legajo</strong>

            <p class="text-muted">
            <h1>
              {{empleado.legajo|default_if_none:""}}
            </h1>

            <hr>

            <strong><i class="fa fa-map-marker mr-1"></i> Domicilio</strong>

            <p class="text-muted">{{empleado.domicilio|default_if_none:""}}, {{empleado.localidad|default_if_none:""}}, {{empleado.get_departamento_display|default_if_none:""}}, {{empleado.get_provincia_display|default_if_none:""}}</p>

            <hr>

            <strong><i class="fa fa-phone"></i> Teléfono/s</strong>

            <p class="text-muted">{{empleado.tel_fijo|default_if_none:""}}
              {% if empleado.tel_fijo and empleado.tel_cel %}-{% endif %}
              {{empleado.tel_cel|default_if_none:""}}</p>

            <hr>

            <strong><i class="fa fa-envelope"></i> Email</strong>

            <p class="text-muted">{{empleado.email|default_if_none:""}}</p>

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
      <div class="col-md-9">

        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Datos de la Dependencia Laboral</h3>
          </div>
          <!-- /.card-header -->

          <div class="card-body">

            {% if dependencia_anterior %}

            <div class="card card-primary">
              <p class="text-center texto_grande">Dependencia Laboral anterior</p>

              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <p><strong>Circunscripción: </strong><span class="texto_detalle">{{dependencia_anterior.circunscripcion|default_if_none:""}}</span></p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <p><strong>Unidad: </strong><span class="texto_detalle">{{dependencia_anterior.unidad|default_if_none:""}}</span></p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <p><strong>Organismo: </strong><span class="texto_detalle">{{dependencia_anterior.organismo|default_if_none:""}}</span></p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <p><strong>Dependencia: </strong><span class="texto_detalle">{{dependencia_anterior.dependencia|default_if_none:""}}</span></p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <p><strong>Dirección: </strong><span class="texto_detalle">{{dependencia_anterior.direccion|default_if_none:""}}</span></p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <p><strong>Departamento: </strong><span class="texto_detalle">{{dependencia_anterior.departamento|default_if_none:""}}</span></p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <p><strong>División: </strong><span class="texto_detalle">{{dependencia_anterior.division|default_if_none:""}}</span></p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <p><strong><i class="fa fa-calendar"></i> Fecha de ingreso a la dependencia laboral: </strong><span class="texto_detalle">{{dependencia_anterior.fecha_ingreso_dependencia|date:"d/m/Y"|default_if_none:""}}</span></p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <p><strong>Tipo Intr. legal: </strong><span>{{dependencia_anterior.tipo_instrumento_legal|default_if_none:""}}</span></p>
                  </div>
                  <div class="col-md-4">
                    <p><strong>Instrumento legal: </strong><span>{{dependencia_anterior.instrumento_legal|default_if_none:""}}</span></p>
                  </div>
                  <div class="col-md-4">
                    <p><strong><i class="fa fa-calendar"></i> Fecha Instr. legal: </strong><span>{{dependencia_anterior.fecha_instr_legal|date:"d/m/Y"|default_if_none:""}}</span></p>
                  </div>
                </div>

              </div>
              <!-- /.card-body -->
            </div>
            {% endif %}
            <form method="post">
              {% csrf_token %}
            <p class="text-center texto_grande">Nueva Dependencia Laboral</p>
            <div class="row">
              <div class="col-md-12">
                <div id="custom-search-input">
                  <div class="input-group col-md-12">
                    <!--<input type="text" id="input_search" class="form-control input-lg" placeholder="Buscar por lugar de trabajo" />-->
                    {{form.dependencias_list}}

                                        <label class="">
                                            <i class="fa fa-search"></i>
                                        </label>

                  </div>
                </div>
              </div>
            </div>


              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label >Circunscripción *</label>
                    {{form.circunscripcion}}
                  </div>
                </div>
              </div>
              {% if form.circunscripcion.errors %}
              <div class="row">
                <div class="col-md-12">
                  <label class="text-danger">{{ form.circunscripcion.errors }}</label>
                </div>
              </div>
              {% endif %}

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Unidad *</label>
                    {{form.unidad}}
                  </div>
                </div>
              </div>
              {% if form.unidad.errors %}
              <div class="row">
                <div class="col-md-12">
                  <label class="text-danger">{{ form.unidad.errors }}</label>
                </div>
              </div>
              {% endif %}

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Organismo *</label>
                    {{form.organismo}}
                  </div>
                </div>
              </div>
              {% if form.organismo.errors %}
              <div class="row">
                <div class="col-md-12">
                  <label class="text-danger">{{ form.organismo.errors }}</label>
                </div>
              </div>
              {% endif %}

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Dependencia *</label>
                    {{form.dependencia}}
                  </div>
                </div>
              </div>
              {% if form.dependencia.errors %}
              <div class="row">
                <div class="col-md-12">
                  <label class="text-danger">{{ form.dependencia.errors }}</label>
                </div>
              </div>
              {% endif %}

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Dirección *</label>
                    {{form.direccion}}
                  </div>
                </div>
              </div>
              {% if form.direccion.errors %}
              <div class="row">
                <div class="col-md-12">
                  <label class="text-danger">{{ form.direccion.errors }}</label>
                </div>
              </div>
              {% endif %}

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Departamento *</label>
                    {{form.departamento}}
                  </div>
                </div>
              </div>
              {% if form.departamento.errors %}
              <div class="row">
                <div class="col-md-12">
                  <label class="text-danger">{{ form.departamento.errors }}</label>
                </div>
              </div>
              {% endif %}

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>División *</label>
                    {{form.division}}
                  </div>
                </div>
              </div>
              {% if form.division.errors %}
              <div class="row">
                <div class="col-md-12">
                  <label class="text-danger">{{ form.division.errors }}</label>
                </div>
              </div>
              {% endif %}

              <div class="row">
                <div class="col-md-6">
                  <label >Fecha de ingreso a la Dependencia Laboral *</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    {{form.fecha_ingreso_dependencia}}
                  </div>
                </div>
              </div>
              {% if form.fecha_ingreso_dependencia.errors %}
              <div class="row">
                <div class="col-md-12">
                  <label class="text-danger">{{ form.fecha_ingreso_dependencia.errors }}</label>
                </div>
              </div>
              {% endif %}

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label >Tipo Inst. Legal *</label>
                    {{form.tipo_instrumento_legal}}
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label >Instrumento Legal *</label>
                    {{form.instrumento_legal}}
                  </div>
                </div>
                <div class="col-md-4">
                  <label >Fecha de Inst. Legal *</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    {{form.fecha_instr_legal}}
                  </div>
                </div>
              </div>
              {% if form.tipo_instrumento_legal.errors or form.instrumento_legal.errors or form.fecha_instr_legal.errors %}
              <div class="row">
                <div class="col-md-4">
                  <label class="text-danger">{{ form.tipo_instrumento_legal.errors }}</label>
                </div>
                <div class="col-md-4">
                  <label class="text-danger">{{ form.instrumento_legal.errors }}</label>
                </div>
                <div class="col-md-4">
                  <label class="text-danger">{{ form.fecha_instr_legal.errors }}</label>
                </div>
              </div>
              {% endif %}

              {% if form.errors %}
              {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
              </div>
              {% endfor %}
              {% endif %}


              <!-- /.card-body -->
              <div class="row separada">
                <div class="margin">
                  <div class="btn-group">
                    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary btn-lg float-right"><i class="fa fa-arrow-circle-left"></i> Volver</a>
                  </div>
                  <div class="btn-group">
                    <button class="btn btn-success btn-lg" type="submit" name="action">Guardar <i class="fa fa-save left"></i>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- /.card -->



        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->



  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock %}
{% block staticfiles_javascript %}
{{ form.media }}
<!-- InputMask -->
<script src="{% static 'plugins/input-mask/jquery.inputmask.js' %}"></script>
<script src="{% static 'plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
<script src="{% static 'plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>
<script>
        $(function () {
          
          // Máscaras
          //Datemask dd/mm/yyyy
          $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' });
          $('[data-mask]').inputmask()


          
        })
      </script>

{% endblock %}


