{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}

<!-- Main content -->
<section class="content content_principal">
  <div class="container-fluid">

      {% if messages %}
        <div class="row">
            <div class="col-md-12">
              {% for m in messages %}
                <div class="card bg-success-gradient">
                  <div class="card-header">
                    <h3 class="card-title">{{ m }}</h3>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-widget="remove"><i class="fa fa-times"></i>
                      </button>
                    </div>
                    <!-- /.card-tools -->
                  </div>
                  <!-- /.card-header -->
                </div>
              {% endfor %}  
            </div>
        </div>
      {% endif %}

      <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              {% if empleado.borrado %}
                <div class="card-header">
                  <span class="badge texto_detalle badge-danger">Empleado Eliminado</span>
                </div>
              {% endif %}
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="{% static 'images/perfil.png' %}"
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{empleado.apellido|default_if_none:""}} {{empleado.nombre|default_if_none:""}}</h3>

                <p class="text-muted text-center">{{ cargo|default_if_none:"" }}</p>

                <strong><i class="fa fa-folder"></i> N° Legajo</strong>

                <p class="text-muted">
                  <h1>
                  {{empleado.legajo|default_if_none:""}}
                  </h1>
                </p>

                <hr>

                <strong><i class="fa fa-map-marker mr-1"></i> Domicilio</strong>

                <p class="text-muted">{{empleado.domicilio|default_if_none:""}}, {{empleado.localidad|default_if_none:""}}, {{empleado.get_departamento_display|default_if_none:""}}, {{empleado.get_provincia_display|default_if_none:""}}</p>

                <hr>

                <strong><i class="fa fa-phone"></i> Teléfono/s</strong>

                <p class="text-muted">{{empleado.tel_fijo|default_if_none:""}} 
                {% if empleado.tel_fijo and empleado.tel_cel %}-{% endif %} 
                {{empleado.tel_cel|default_if_none:""}}</p>

                <hr>

                <strong><i class="fa fa-envelope"></i> Email</strong>

                <p class="text-muted">{{empleado.email|default_if_none:""}}</p>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#personal" data-toggle="tab">Personal</a></li>
                  <li class="nav-item"><a class="nav-link" href="#laboral" data-toggle="tab">Laboral</a></li>
                  <li class="nav-item"><a class="nav-link" href="#licencias" data-toggle="tab">Licencias</a></li>
                  <li class="nav-item"><a class="nav-link" href="#grupo_familiar" data-toggle="tab">Grupo Familiar</a></li>
                  <li class="nav-item"><a class="nav-link" href="#titulos" data-toggle="tab">Títulos</a></li>
                  <li class="nav-item"><a class="nav-link" href="#antecedentes" data-toggle="tab">Antecedentes</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="personal">
                    
                    <div class="row">
                      <div class="col-md-12">
                        <p><strong>Apellido/s: </strong><span class="texto_detalle">{{empleado.apellido|default_if_none:""}}</span></p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <p><strong>Nombre/s: </strong><span class="texto_detalle">{{empleado.nombre|default_if_none:""}}</span></p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-5">
                        <p><strong>N° Documento: </strong><span class="texto_detalle">{{empleado.documento|default_if_none:""}}</span></p>
                      </div>
                      <div class="col-md-7">
                        <p><strong>Tipo Documento: </strong><span class="texto_detalle">{{empleado.get_tipo_doc_display|default_if_none:""}}</span></p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <p><strong>N° CUIL: </strong><span class="texto_detalle">{{empleado.cuil|default_if_none:""}}</span></p>
                      </div>
                      <div class="col-md-6">
                        <p><strong>Sexo: </strong><span class="texto_detalle">{{empleado.get_sexo_display|default_if_none:""}}</span></p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <p><strong>Estado civil: </strong><span class="texto_detalle">{{empleado.get_estado_civil_display|default_if_none:""}}</span></p>
                      </div>
                      <div class="col-md-6">
                        <p><strong><i class="fa fa-flag"></i> Nacionalidad: </strong><span class="texto_detalle">{{empleado.nacionalidad|default_if_none:""}}</span></p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-5">
                        <p><strong><i class="fa fa-calendar"></i> Fecha de nacimiento: </strong><span class="texto_detalle">{{empleado.fecha_nac|date:"d/m/Y"|default_if_none:""}}</span></p>
                      </div>
                      <div class="col-md-2">
                        <p><strong>Edad: </strong><span class="texto_detalle">{{empleado.edad|default_if_none:""}}</span></p>
                      </div>
                      <div class="col-md-5">
                        <p><strong><i class="fa fa-map-marker"></i> Lugar de nacimiento: </strong><span class="texto_detalle">{{empleado.lugar_nac|default_if_none:""}}</span></p>
                      </div>
                    </div>

                    <hr>

                    <div class="row">
                      <div class="col-md-6">
                        <p><strong><i class="fa fa-phone"></i> Teléfono Fijo: </strong><span class="texto_detalle">{{empleado.tel_fijo|default_if_none:""}}</span></p>
                      </div>
                      <div class="col-md-6">
                        <p><strong><i class="fa fa-mobile"></i> Teléfono Celular: </strong><span class="texto_detalle">{{empleado.tel_cel|default_if_none:""}}</span></p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <p><strong><i class="fa fa-envelope"></i> E-mail: </strong><span class="texto_detalle">{{empleado.email|default_if_none:""}}</span></p>
                      </div>
                      <div class="col-md-6">
                        <!-- <p><strong>Teléfono Celular: </strong><span class="texto_detalle">{{empleado.tel_cel}}</span></p> -->
                      </div>
                    </div>

                    <hr>

                    <div class="row">
                      <div class="col-md-12">
                        <p><strong><i class="fa fa-map-marker"></i> Domicilio: </strong><span class="texto_detalle">{{empleado.domicilio|default_if_none:""}}</span></p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <p><strong>Barrio: </strong><span class="texto_detalle">{{empleado.barrio|default_if_none:""}}</span></p>
                      </div>
                      {% if empleado.dpto %}
                        <div class="col-md-3">
                          <p><strong>Piso: </strong><span class="texto_detalle">{{empleado.piso|default_if_none:""}}</span></p>
                        </div>
                      {% endif %}
                      {% if empleado.dpto %}
                        <div class="col-md-3">
                          <p><strong>N° Dpto: </strong><span class="texto_detalle">{{empleado.dpto|default_if_none:""}}</span></p>
                        </div>
                      {% endif %}
                    </div>

                    <div class="row">
                      <div class="col-md-8">
                        <p><strong>Localidad: </strong><span class="texto_detalle">{{empleado.localidad|default_if_none:""}}</span></p>
                      </div>
                      <div class="col-md-4">
                        <p><strong>Código Postal: </strong><span class="texto_detalle">{{empleado.cod_postal|default_if_none:""}}</span></p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <p><strong>Departamento: </strong><span class="texto_detalle">{{empleado.get_departamento_display|default_if_none:""}}</span></p>
                      </div>
                      <div class="col-md-6">
                        <p><strong>Provincia: </strong><span class="texto_detalle">{{empleado.get_provincia_display|default_if_none:""}}</span></p>
                      </div>
                    </div>

                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="laboral">

                    <div class="row">
                      <div class="col-md-6">
                        <p><strong>Estado laboral actual: </strong>
                          <span class="badge texto_detalle 
                          {% if empleado.estado_laboral == 'AC' %} badge-success 
                          {% elif empleado.estado_laboral == 'JU' %} badge-warning
                          {% elif empleado.estado_laboral == 'SGH' %} badge-warning
                          {% elif empleado.estado_laboral == 'BA' %} badge-danger
                          {% elif empleado.estado_laboral == 'SU' %} badge-danger {% endif %}
                          ">{{empleado.get_estado_laboral_display|default_if_none:""}}</span>
                        </p>
                      </div>
                      <div class="col-md-6">
                        <p><strong><i class="fa fa-calendar"></i> Últ. cambio de Estado: </strong><span>{{empleado.fecha_cambio_estado_lab|date:"d/m/Y"|default_if_none:""}}</span></p>
                      </div>
                    </div>

                    <hr>

                    <div class="row">
                      <div class="col-md-6">
                        <p><strong><i class="fa fa-folder"></i> N° Legajo: </strong><span class="texto_grande">{{empleado.legajo|default_if_none:""}}</span></p>
                      </div>
                      <div class="col-md-6">
                        <p><strong><i class="fa fa-calendar"></i> Fecha de ingreso: </strong><span class="texto_detalle">{{empleado.fecha_ingreso|date:"d/m/Y"|default_if_none:""}}</span></p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <p><strong>Antiguedad en el organismo: </strong><span class="texto_detalle">{{empleado.antiguedad|default_if_none:""}}</span></p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <p><strong>Antiguedad en otros organismos: </strong><span class="texto_detalle">-</span></p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <p><strong>Horario laboral: </strong><span>{{empleado.horario|default_if_none:""}}</span></p>
                      </div>
                    </div>

                    <hr>

                    {% if not cargo %}
                      <div class="alert alert-danger alert-dismissible">
                        El empleado no posee Cargo, por favor agregue un nuevo cargo
                      </div>
                    {% endif %}

                    <div class="row">
                      <div class="col-md-12">
                        <p><strong><i class="fa fa-briefcase"></i> Cargo: </strong><span class="texto_grande">{{cargo|default_if_none:""}}</span></p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <p><strong>Nivel: </strong><span class="texto_detalle">{{cargo.nivel|default_if_none:""}}</span></p>
                      </div>
                      <div class="col-md-6">
                        <p><strong>Agrupamiento: </strong><span class="texto_detalle">{{cargo.agrupamiento|default_if_none:""}}</span></p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <p><strong>Situación laboral: </strong><span class="texto_detalle">{{cargo.get_situacion_display|default_if_none:""}}</span></p>
                      </div>
                      <div class="col-md-6">
                        <p><strong>Jurisdicción: </strong><span class="texto_detalle">{{cargo.get_jurisdiccion_display|default_if_none:""}}</span></p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <p><strong><i class="fa fa-calendar"></i> Fecha de ingreso al cargo: </strong><span class="texto_detalle">{{cargo.fecha_ingreso_cargo|date:"d/m/Y"|default_if_none:""}}</span></p>
                      </div>
                      {% if cargo.fecha_vencimiento_cargo %}
                      <div class="col-md-6">
                        <p><strong><i class="fa fa-calendar"></i> Fecha de vencimiento del cargo: </strong><span class="texto_detalle">{{cargo.fecha_vencimiento_cargo|date:"d/m/Y"|default_if_none:""}}</span></p>
                      </div>
                      {% endif %}
                    </div>

                    <div class="row">
                      <div class="col-md-4">
                        <p><strong>Tipo Intr. legal: </strong><span>{{cargo.tipo_instrumento_legal|default_if_none:""}}</span></p>
                      </div>
                      <div class="col-md-4">
                        <p><strong>Instrumento legal: </strong><span>{{cargo.instrumento_legal|default_if_none:""}}</span></p>
                      </div>
                      <div class="col-md-4">
                        <p><strong><i class="fa fa-calendar"></i> Fecha Instr. legal: </strong><span>{{cargo.fecha_instr_legal|date:"d/m/Y"|default_if_none:""}}</span></p>
                      </div>
                    </div>

                    <div class="container">
                      <div class="clearfix separada">          
                          <a href="{% url 'cargo_create' empleado.pk %}" class="btn btn-success  separa_boton"><i class="fa fa-plus"></i> Agregar nuevo cargo</a>
                          {% if cargo %}
                          <a href="{% url 'empleado_update' empleado.pk %}" class="btn btn-primary  separa_boton"><i class="fa fa-pencil"></i> Modificar cargo existente</a>
                          <a href="{% url 'foja_servicios' empleado.pk %}" class="btn btn-info  separa_boton"><i class="fa fa-file-text-o"></i> Ver Foja de Servicios</a>
                          {% endif %}
                      </div>
                    </div>

                    <hr>
                    
                  </div>
                  <!-- /.tab-pane -->

                  <div class="tab-pane" id="licencias">
                    
                  </div>
                  <!-- /.tab-pane -->

                  <div class="tab-pane" id="grupo_familiar">
                    
                  </div>
                  <!-- /.tab-pane -->

                  <div class="tab-pane" id="titulos">
                    
                  </div>
                  <!-- /.tab-pane -->

                  <div class="tab-pane" id="antecedentes">
                    
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
            {% if empleado.borrado %}
              <div class="col-md-12">
                <div class="card card-danger">
                  <div class="card-header">
                    <h3 class="card-title">Datos de Baja</h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-3">
                          <p><strong>Fecha de baja: </strong><span>{{empleado.fecha_baja|date:"d/m/Y"|default_if_none:""}}</span></p>
                        </div>
                        <div class="col-md-9">
                          <p><strong>Motivo: </strong><span>{{empleado.motivo_baja|default_if_none:""}}</span></p>
                        </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
            {% endif %}

            <div class="container">
              <div class="clearfix separada">
                {% if not empleado.borrado %}            
                  <a href="{% url 'empleado_down' empleado.pk %}" class="btn btn-danger float-right separa_boton"><i class="fa fa-arrow-down"></i> Dar de baja</a>
                  <a href="{% url 'empleado_update' empleado.pk %}" class="btn btn-primary float-right separa_boton"><i class="fa fa-pencil"></i> Modificar datos personales</a>
                {% else %}
                  <a href="{% url 'empleado_restore' empleado.pk %}" class="btn btn-primary float-right separa_boton"><i class="fa fa-repeat"></i> Restaurar</a>
                {% endif %}
              </div>
            </div>
        </div>
        <!-- /.row -->



  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock %} 

