{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}

<!-- Main content -->
<section class="content content_principal">
  <div class="container-fluid">

      <div class="row">
          <div class="col-md-12">
            <!-- Widget: user widget style 2 -->
            <div class="card card-widget widget-user-2">
              <div class="card-header">
                <h2>¿Está seguro que desea eliminar a este empleado?</h2>
              </div>
              <!-- Add the bg color to the header using any of the bg-* classes -->
              <div class="widget-user-header bg-info">
                <div class="widget-user-image">
                  <img class="img-circle elevation-2" src="{% static 'images/user_delete.png' %}" alt="User Avatar">
                </div>
                <!-- /.widget-user-image -->
                <h3 class="widget-user-username">{{ empleado.nombre|default_if_none:"" }} {{ empleado.apellido|default_if_none:"" }}</h3>
                <h5 class="widget-user-desc">{{ empleado.cargo|default_if_none:"" }}</h5>
              </div>
              <div class="card-body">
                <div class="row">
                    <h4> Legajo: {{ empleado.legajo|default_if_none:"" }} </h4>
                </div>
                <div class="row">                    
                    <h4 >CUIL: {{ empleado.cuil|default_if_none:"" }}</h4>
                </div> 
                <div class="row">
                    <h4> Documento N°: {{ empleado.documento|default_if_none:"" }} </h4>
                </div>  
                <hr>
                <div class="form-group">
                    <label>Agregar comentario</label>
                    <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                  </div>
              </div>
              <div class="card-footer">
                <div class="row separada">
                  <div class="margin">
                    <div class="btn-group">
                      <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary btn-lg float-right"><i class="fa fa-arrow-circle-left"></i> No, volver</a>
                    </div>
                    <div class="btn-group">
                      <form method="post">{% csrf_token %}
                        <button class="btn btn-danger btn-lg" type="submit">Si, estoy seguro <i class="fa fa-trash-o left"></i>
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.widget-user -->
          </div>
          <!-- /.col -->
          
        </div>

  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock %} 