{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}

<!-- Main content -->
<section class="content content_principal">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <form method="post">
          {% csrf_token %}
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Datos Personales</h3>
            </div>
            <!-- /.card-header -->

            <div class="card-body">

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label >Apellido/s *</label>
                    {{form.apellido}}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Nombre/s *</label>
                    {{form.nombre}}
                  </div>
                </div>
              </div>
              {% if form.nombre.errors or form.apellido.errors %}
              <div class="row">
                <div class="col-md-6">
                  <label class="text-danger">{{ form.nombre.errors }}</label>
                </div>
                <div class="col-md-6">
                  <label class="text-danger">{{ form.apellido.errors }}</label>
                </div>
              </div>
              {% endif %}

              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Tipo Documento *</label>
                    {{form.tipo_doc}}
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label >Documento N° *</label>
                    {{form.documento}}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>CUIL N° *</label>
                    {{form.cuil}}
                  </div>

                  <!--<div class="input-group">-->
                    <!--<div class="input-group-prepend">-->
                      <!--<span class="input-group-text"><i class="fa fa-laptop"></i></span>-->
                    <!--</div>-->
                    <!--<input name="nro_cuil" type="text" class="form-control" data-inputmask="'mask': '99-99999999-9'" data-mask="">-->
                  <!--</div>-->

                </div>
              </div>
              {% if form.tipo_doc.errors or form.documento.errors or form.cuil.errors %}
              <div class="row">
                <div class="col-md-3">
                  <label class="text-danger">{{ form.tipo_doc.errors }}</label>
                </div>
                <div class="col-md-3">
                  <label class="text-danger">{{ form.documento.errors }}</label>
                </div>
                <div class="col-md-6">
                  <label class="text-danger">{{ form.cuil.errors }}</label>
                </div>
              </div>
              {% endif %}

              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label >Sexo *</label>
                    <div class="form-group">
                      {% for radio in form.sexo %}

                      <label>
                        {{ radio }}
                      </label>

                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label >Estado Civil *</label>
                    <div class="form-group">
                      {{form.estado_civil}}
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <label >Nacionalidad *</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-flag"></i></span>
                    </div>
                    {{form.nacionalidad}}
                  </div>
                </div>
              </div>
              {% if form.sexo.errors or form.estado_civil.errors or form.nacionalidad.errors %}
              <div class="row">
                <div class="col-md-3">
                  <label class="text-danger">{{ form.sexo.errors }}</label>
                </div>
                <div class="col-md-3">
                  <label class="text-danger">{{ form.estado_civil.errors }}</label>
                </div>
                <div class="col-md-6">
                  <label class="text-danger">{{ form.nacionalidad.errors }}</label>
                </div>
              </div>
              {% endif %}

              <div class="row">
                <div class="col-md-6">
                  <label >Fecha de Nacimiento</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    {{form.fecha_nac}}
                  </div>
                </div>
                <div class="col-md-6">
                  <label >Lugar de Nacimiento</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                    </div>
                    {{form.lugar_nac}}
                  </div>
                </div>
              </div>
              {% if form.fecha_nac.errors or form.lugar_nac.errors %}
              <div class="row">
                <div class="col-md-6">
                  <label class="text-danger">{{ form.fecha_nac.errors }}</label>
                </div>
                <div class="col-md-6">
                  <label class="text-danger">{{ form.lugar_nac.errors }}</label>
                </div>
              </div>
              {% endif %}

              <hr>

              <div class="row">
                <div class="col-md-6">
                  <label >Teléfono fijo</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-phone"></i></span>
                    </div>
                    {{form.tel_fijo}}
                  </div>
                </div>
                <div class="col-md-6">
                  <label >Teléfono celular</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-mobile"></i></span>
                    </div>
                    {{form.tel_cel}}
                  </div>
                </div>
              </div>
              {% if form.tel_fijo.errors or form.tel_cel.errors %}
              <div class="row">
                <div class="col-md-6">
                  <label class="text-danger">{{ form.tel_fijo.errors }}</label>
                </div>
                <div class="col-md-6">
                  <label class="text-danger">{{ form.tel_cel.errors }}</label>
                </div>
              </div>
              {% endif %}

              <div class="row">
                <div class="col-md-6">
                  <label >E-mail</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                    </div>
                    {{form.email}}
                  </div>
                </div>
              </div>
              {% if form.email.errors %}
              <div class="row">
                <div class="col-md-6">
                  <label class="text-danger">{{ form.email.errors }}</label>
                </div>
              </div>
              {% endif %}

              <hr>

              <div class="row">
                <div class="col-md-12">
                  <label >Domicilio *</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                    </div>
                    {{form.domicilio}}
                  </div>
                </div>
              </div>
              {% if form.domicilio.errors %}
              <div class="row">
                <div class="col-md-12">
                  <label class="text-danger">{{ form.domicilio.errors }}</label>
                </div>
              </div>
              {% endif %}

              <div class="row">
                <div class="col-md-6">
                  <label >Barrio</label>
                  <div class="input-group mb-3">
                    {{form.barrio}}
                  </div>
                </div>
                <div class="col-md-3">
                  <label >Piso</label>
                  <div class="input-group mb-3">
                    {{form.piso}}
                  </div>
                </div>
                <div class="col-md-3">
                  <label>N° Dpto</label>
                  <div class="input-group mb-3">
                    {{form.dpto}}
                  </div>
                </div>
              </div>
              {% if form.barrio.errors or form.piso.errors or form.dpto.errors %}
              <div class="row">
                <div class="col-md-6">
                  <label class="text-danger">{{ form.barrio.errors }}</label>
                </div>
                <div class="col-md-3">
                  <label class="text-danger">{{ form.piso.errors }}</label>
                </div>
                <div class="col-md-3">
                  <label class="text-danger">{{ form.dpto.errors }}</label>
                </div>
              </div>
              {% endif %}

              <div class="row">
                <div class="col-md-8">
                  <label >Localidad *</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-location-arrow"></i></span>
                    </div>
                    {{form.localidad}}
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label >Código Postal *</label>
                    <div class="form-group">
                      {{form.cod_postal}}
                    </div>
                  </div>
                </div>
              </div>
              {% if form.localidad.errors or form.cod_postal.errors %}
              <div class="row">
                <div class="col-md-8">
                  <label class="text-danger">{{ form.localidad.errors }}</label>
                </div>
                <div class="col-md-4">
                  <label class="text-danger">{{ form.cod_postal.errors }}</label>
                </div>
              </div>
              {% endif %}

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label >Departamento *</label>
                    <div class="form-group">
                      {{form.departamento}}
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label >Provincia *</label>
                    <div class="form-group">
                      {{form.provincia}}
                    </div>
                  </div>
                </div>
              </div>
              {% if form.departamento.errors or form.provincia.errors %}
              <div class="row">
                <div class="col-md-6">
                  <label class="text-danger">{{ form.departamento.errors }}</label>
                </div>
                <div class="col-md-6">
                  <label class="text-danger">{{ form.provincia.errors }}</label>
                </div>
              </div>
              {% endif %}

              <!-- /.card-body -->
            </div>
          </div>
          <!-- /.card -->

          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Datos Laborales</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->

            <div class="card-body">

              <div class="row">
                <div class="col-md-6">
                  <label >N° Legajo *</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-folder"></i></span>
                    </div>
                    {{form.legajo}}
                  </div>
                </div>
                <div class="col-md-6">
                  <label >Fecha de Ingreso *</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    {{form.fecha_ingreso}}
                  </div>
                </div>
              </div>
              {% if form.legajo.errors or form.fecha_ingreso.errors %}
              <div class="row">
                <div class="col-md-6">
                  <label class="text-danger">{{ form.legajo.errors }}</label>
                </div>
                <div class="col-md-6">
                  <label class="text-danger">{{ form.fecha_ingreso.errors }}</label>
                </div>
              </div>
              {% endif %}

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label >Horario laboral</label>
                    <div class="form-group">
                      {{form.horario}}
                    </div>
                  </div>
                </div>
              </div>
              {% if form.horario.errors %}
              <div class="row">
                <div class="col-md-6">
                  <label class="text-danger">{{ form.horario.errors }}</label>
                </div>
              </div>
              {% endif %}



              {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
              <div class="row">
                <label class="text-danger">{{ error|escape }}</label>
              </div>
              {% endfor %}
              {% endif %}
              <!-- /.card-body -->
            </div>
          </div>
          <!-- /.card -->

          <div class="row separada">
            <div class="margin">
              <div class="btn-group">
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary btn-lg float-right"><i class="fa fa-arrow-circle-left"></i> Volver</a>
              </div>
              <div class="btn-group">
                <button class="btn btn-success btn-lg" type="submit" name="action">Guardar <i class="fa fa-save left"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->


{% endblock %}
{% block staticfiles_javascript %}
<!-- InputMask -->
<script src="{% static 'plugins/input-mask/jquery.inputmask.js' %}"></script>
<script src="{% static 'plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
<script src="{% static 'plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>
<!-- iCheck 1.0.1 -->
<script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
<script>
        $(function () {
          
          // Máscaras
          //Datemask dd/mm/yyyy
          $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' });
          $('[data-mask]').inputmask()

          //Flat blue color scheme for iCheck
          $('input[type="checkbox"].flat-blue, input[type="radio"].flat-blue').iCheck({
            checkboxClass: 'icheckbox_flat-blue',
            radioClass   : 'iradio_flat-blue'
          })

          
        })
      </script>
{% endblock %}