{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}

<!-- Main content -->
<section class="content content_principal">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <form method="post">
          {% csrf_token %}
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Datos Personales</h3>
            </div>
            <!-- /.card-header -->

            <div class="card-body">

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Apellido/s</label>
                    {{form.apellido}}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputPassword1">Nombre/s</label>
                    {{form.nombre}}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Tipo Documento</label>
                    {{form.tipo_doc}}
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Documento N°</label>
                    {{form.documento}}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputPassword1">CUIL N°</label>
                    {{form.cuil}}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Sexo</label>
                    <div class="form-group">
                    {% for radio in form.sexo %}
                    
                      <label>
                        {{ radio }}
                      </label>
                    
                    {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="exampleInputEmail1">Fecha de Nacimiento</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    {{form.fecha_nac}}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <label for="exampleInputEmail1">Nacionalidad</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-flag"></i></span>
                    </div>
                    {{form.nacionalidad}}
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="exampleInputEmail1">Lugar de Nacimiento</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                    </div>
                    {{form.lugar_nac}}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <label for="exampleInputEmail1">Teléfono fijo</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-phone"></i></span>
                    </div>
                    {{form.tel_fijo}}
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="exampleInputEmail1">Teléfono celular</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-mobile"></i></span>
                    </div>
                    {{form.tel_cel}}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <label for="exampleInputEmail1">E-mail</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                    </div>
                    {{form.email}}
                  </div>
                </div>
                
              </div>

              <!-- /.card-body -->
            </div>
          </div>
          <!-- /.card -->

          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Datos Laborales</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->

            <div class="card-body">

              <div class="row">
                <div class="col-md-6">
                  <label for="exampleInputEmail1">N° Legajo</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-folder"></i></span>
                    </div>
                    {{form.legajo}}
                  </div>
                </div>
                <div class="col-md-6">

                </div>
              </div>


              <!-- /.card-body -->
            </div>
          </div>
          <!-- /.card -->

          <div class="row separada">
            <div class="margin">
              <div class="btn-group">
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary btn-lg float-right"><i class="fa fa-arrow-circle-left"></i> Volver</a>
              </div>
              <div class="btn-group">
                <button class="btn btn-success btn-lg" type="submit" name="action">Guardar <i class="fa fa-save left"></i>
                </button>
              </div>
            </div>
          </div>
        </form>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->


    {% endblock %} 
    {% block staticfiles_javascript %} 
      <!-- InputMask -->
      <script src="{% static 'plugins/input-mask/jquery.inputmask.js' %}"></script>
      <script src="{% static 'plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
      <script src="{% static 'plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>
      <!-- iCheck 1.0.1 -->
      <script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
      <script>
        $(function () {
          
          // Máscaras
          //Datemask dd/mm/yyyy
          $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' });
          $('[data-mask]').inputmask()

          //Flat blue color scheme for iCheck
          $('input[type="checkbox"].flat-blue, input[type="radio"].flat-blue').iCheck({
            checkboxClass: 'icheckbox_flat-blue',
            radioClass   : 'iradio_flat-blue'
          })

          
        })
      </script>
    {% endblock %} 