{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ cantidad_empleados }}</h3>

                <p>Empleados </p>
              </div>
              <div class="icon">
                <i class="ion ion-ios-people"></i>
              </div>
              
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ ingresados_este_anio }}</h3>

                <p>Ingresaron este año</p>

              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <section class="col-lg-9 connectedSortable">
            <a href="{% url 'empleado_list' %}" class="btn btn-block btn-primary btn-lg">
                <i class="fa fa-list"></i>
                Ver listado de Empleados
            </a>
          </section>
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

{% endblock %}