{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}

{% include 'base/header.html' %}
<!-- START MAIN -->
<div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">

        {% include 'base/sidebar.html' %}

        {% include 'base/barra_busqueda.html' %}

        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card ">
                    <div class="card-content grey-text">
                        <span class="card-title grey-text">Datos Personales</span>
                        <div class="divider"></div>
                        <br>

                        <div class="row">
                            <div class="input-field col s12 m6">
                                <i class="mdi-action-account-circle prefix icongris"></i>
                                <input type="text" value= "{{ persona.apellido }}" disabled="true">
                                <label for="first_name">Apellido:</label>
                            </div>

                            <div class="input-field col s12 m6">
                                <i class="mdi-action-account-circle prefix"></i>
                                <input type="text" value= "{{ persona.nombre }}" disabled="true">
                                <label for="first_name">Nombre:</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12 m4">
                                <i class="mdi-action-picture-in-picture prefix"></i>
                                <input type="text" value= "{{ persona.cuil }}" disabled="true">
                                <label for="first_name">CUIL:</label>
                            </div>

                              
                            <div class="input-field col s12 m4">
                                <i class="mdi-action-picture-in-picture prefix"></i>
                                <input type="text" value= "{{ persona.dni }}" disabled="true">
                                <label for="first_name">DNI N°:</label>
                            </div>

                            <div class="input-field col s12 m4">
                                <i class="mdi-av-subtitles prefix"></i>
                                <input type="text" value= "{{ persona.legajo }}" disabled="true">
                                <label for="first_name">Legajo:</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT -->
{% include 'base/footer.html' %}
{% endblock %} 

