{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}

{% include 'base/header.html' %}

<!--  CONTENIDO FORMULARIO -->
<main>
  <div class="container">
    <div class="row">
      <div class="center col s12 m12 l12">
        <div class="card ">
          <div class="card-content grey-text">
            <span class="card-title grey-text">{{ titulo }}</span>
            <div class="divider"></div>
            <br>

            <form method="post">
              {% csrf_token %}
              <div class="row">
                  <div class="input-field col s12 m6">
                    <i class="mdi-action-account-circle prefix icongris"></i>
                    {{form.apellido}}
                    <label for="{{form.apellido.name}}">{{form.apellido.label}}</label>

                  </div>

                  <div class="input-field col s12 m6">
                    <i class="mdi-action-account-circle prefix"></i>
                    {{form.nombre}}
                    <label for="{{form.nombre.name}}">{{form.nombre.label}}</label>
                  </div>
              </div>

              <div class="row">
                  <div class="input-field col s12 m4">
                    <i class="mdi-action-picture-in-picture prefix"></i>
                    {{form.cuil}}
                    <label for="{{form.cuil.name}}">{{form.cuil.label}}</label>
                  </div>

                  
                  <div class="input-field col s12 m4">
                    <i class="mdi-action-picture-in-picture prefix"></i>
                    {{form.dni}}
                    <label for="{{form.dni.name}}">{{form.dni.label}}</label>
                  </div>

                  <div class="input-field col s12 m4">
                    <i class="mdi-av-subtitles prefix"></i>
                    {{form.legajo}}
                    <label for="{{form.legajo.name}}">{{form.legajo.label}}</label>
                  </div>
              </div>

              <div class="row">
                  <a href="{{ request.META.HTTP_REFERER }}" class="btn cyan waves-effect waves-light center botones">Volver<i class="mdi-content-reply left"></i></a>


                  <button class="btn cyan waves-effect waves-light center botones" type="submit" name="action">Guardar <i class="mdi-content-send right"></i>
                  </button>
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- END CONTENT -->

{% include 'base/footer.html' %}
{% endblock %} 
{% block staticfiles_javascript %} 
    <script src="{% static 'js/custom.js' %}"></script>
    
  {% endblock %} 